*{
    border: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Title{
    font-size: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.container{
    display: flex;
    padding: 20px;
    width: fit-content;
    height: 420px;
    background-color: #fff;
    border-radius: 30px;
    gap: 30px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, .2);
}

h1{
    font-size: 18px;
}

h3{
    font-size: 16px;
    font-weight: 400;
}

input{
    border: 1px solid #ddd;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
}

#startbutton{
    background-color: rgb(75, 173, 190);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

#checkbutton{
    background-color: rgb(49, 209, 115);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

#panel{
    font-size: 30px;
}

#wrongs{
    font-size: 30px;
    color: red;
}

.draw{
    display: flex;
    align-items: center;
}

#reset{
    background-color: rgb(49, 177, 209);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

#buttonstart{
    background-color: rgb(49, 209, 115);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}